<h1>My first Web Page</h1>

<p><center>Hello World!</center></p>

<footer><center>Made by Lakshit Bhutani<center></footer>

<%= 1+1 %>

<% string = "morning" %>

<%= "Good #{string}" %>

<% @array.each do |n| %>
<%= n %><br /> 
<% end %>
